name: Build & Publish

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/checkout@v5

    - name: Install jq
      run: sudo apt-get update && sudo apt-get install -y jq

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set environment variables
      id: vars
      run: echo "RELEASE=$(cat ./src/package.json | jq -r .release)" >> $GITHUB_OUTPUT

    - name: Check available platforms
      run: |
        echo "Checking available platforms for amneziavpn/amneziawg-go:latest..."
        docker manifest inspect amneziavpn/amneziawg-go:latest | jq -r '.manifests[].platform' || echo "Failed to inspect manifest"
    
    - name: Build & Publish Docker Image
      uses: docker/build-push-action@v6
      with:
        push: true
        platforms: linux/amd64
        tags: ghcr.io/${{ github.repository_owner }}/amnezia-wg-easy:latest, ghcr.io/${{ github.repository_owner }}/amnezia-wg-easy:${{ steps.vars.outputs.RELEASE }}
